    
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:util="http://www.springframework.org/schema/util"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util
 	http://www.springframework.org/schema/util/spring-util.xsd">
 
	<bean id = "organization" class = "com.capgemini.spring.model.Organization">
		<constructor-arg index = "0" value = "101"/>
		<constructor-arg index = "1" value = "capgemini"/>
		<constructor-arg  index = "2" value = "1500"/>
		<constructor-arg index = "3" ref = "address"/>
		<constructor-arg index = "4">  
			<list>  
				<value>John Doe</value>  
				<value>Grant</value>  
				<value>Taylor</value>  
			</list>  
		</constructor-arg>  
		<constructor-arg index = "5">  
			<set>  
				<value>pune</value>  
				<value>chennai</value>  
				<value>mumbai</value>  
			</set>  
		</constructor-arg> 
		<constructor-arg index = "6">  
			<map>  
				<entry key="1" value="shachi"/>
				<entry key="2" value="Rasika"/>
				<entry key="3" value="Ram"/>
			</map>  
		</constructor-arg>
		<constructor-arg index = "7" ref="myProperties1"/>
		<constructor-arg index = "8" ref="myProperties2"/>
		
	</bean>

	<util:properties id="myProperties1" location="ipAddress.properties"/>
	<util:properties id="myProperties2" location="dbConfig.properties"/>

	<bean id = "address" class = "com.capgemini.spring.model.Address">
		<constructor-arg index = "0" value = "Pune"/>
		<constructor-arg index = "1" value = "Maharashtra"/>
	</bean>

</beans>